In [1]:
# -*- coding: utf-8 -*-
"""
Created on Fri Jul 20 23:51:40 2018

@author: abhishek
"""

import pandas as pd
import numpy as np

In [2]:
# df = pd.read_csv('Card_Transactions.csv') ;

df_credit = pd.read_csv('PS_20174392719_1491204439457_log.csv') ;
df_debit = pd.read_csv('PS_20174392719_1491204439457_log.csv') ;

In [3]:
df_credit["C_D"] = "C"

In [4]:
df_debit["C_D"] = "D"

In [5]:
df_debit.rename(columns={'nameOrig': 'Orig'}, inplace=True);
df_debit.rename(columns={'nameDest': 'Dest'}, inplace=True)

In [6]:
df_credit.rename(columns={'nameOrig': 'Dest'}, inplace=True);
df_credit.rename(columns={'nameDest': 'Orig'}, inplace=True)

In [7]:
  df_debit[df_debit.isFraud > 0].count()

step              8213
type              8213
amount            8213
Orig              8213
oldbalanceOrg     8213
newbalanceOrig    8213
Dest              8213
oldbalanceDest    8213
newbalanceDest    8213
isFraud           8213
isFlaggedFraud    8213
C_D               8213
dtype: int64

In [8]:
df_trxn = pd.concat([df_debit, df_credit])

C:\Users\abhim\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [9]:
df_trxn.shape

(12725240, 12)

In [10]:
df_trxn.head(5)

,C_D,Dest,Orig,amount,isFlaggedFraud,isFraud,newbalanceDest,newbalanceOrig,oldbalanceDest,oldbalanceOrg,step,type
0,D,M1979787155,C1231006815,9839.64,0,0,0.0,160296.36,0.0,170136.0,1,PAYMENT
1,D,M2044282225,C1666544295,1864.28,0,0,0.0,19384.72,0.0,21249.0,1,PAYMENT
2,D,C553264065,C1305486145,181.00,0,1,0.0,0.00,0.0,181.0,1,TRANSFER
3,D,C38997010,C840083671,181.00,0,1,0.0,0.00,21182.0,181.0,1,CASH_OUT
4,D,M1230701703,C2048537720,11668.14,0,0,0.0,29885.86,0.0,41554.0,1,PAYMENT

In [11]:
df_trxn.drop(['newbalanceDest'], axis = 1, inplace = True);
df_trxn.drop(['newbalanceOrig'], axis = 1, inplace = True);
df_trxn.drop(['oldbalanceDest'], axis = 1, inplace = True);
df_trxn.drop(['oldbalanceOrg'], axis = 1, inplace = True);

In [12]:
df_trxn.head(5)

,C_D,Dest,Orig,amount,isFlaggedFraud,isFraud,step,type
0,D,M1979787155,C1231006815,9839.64,0,0,1,PAYMENT
1,D,M2044282225,C1666544295,1864.28,0,0,1,PAYMENT
2,D,C553264065,C1305486145,181.00,0,1,1,TRANSFER
3,D,C38997010,C840083671,181.00,0,1,1,CASH_OUT
4,D,M1230701703,C2048537720,11668.14,0,0,1,PAYMENT

In [13]:
Amount_bins = pd.DataFrame(df_trxn.amount.quantile([0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1]))

In [14]:
Amount_bins_list = Amount_bins['amount'].values.tolist()

In [15]:
bins = [0]

In [16]:
for i in Amount_bins_list:
    bins.append(i)

In [17]:
bins

[0,
 4501.3,
 9866.158000000003,
 18092.02799999999,
 36371.35000000003,
 74871.94,
 122563.78399999997,
 176801.91899999985,
 246611.22000000032,
 365423.30899999995,
 92445516.64]

In [18]:
df_trxn["amount"].max()

92445516.64

In [19]:
df_trxn['Amt_bin'] = pd.cut(df_trxn['amount'], bins)

In [20]:
df_trxn.head(5)

,C_D,Dest,Orig,amount,isFlaggedFraud,isFraud,step,type,Amt_bin
0,D,M1979787155,C1231006815,9839.64,0,0,1,PAYMENT,"(4501.3, 9866.158]"
1,D,M2044282225,C1666544295,1864.28,0,0,1,PAYMENT,"(0.0, 4501.3]"
2,D,C553264065,C1305486145,181.00,0,1,1,TRANSFER,"(0.0, 4501.3]"
3,D,C38997010,C840083671,181.00,0,1,1,CASH_OUT,"(0.0, 4501.3]"
4,D,M1230701703,C2048537720,11668.14,0,0,1,PAYMENT,"(9866.158, 18092.028]"

In [21]:
df_trxn.dtypes

C_D                 object
Dest                object
Orig                object
amount             float64
isFlaggedFraud       int64
isFraud              int64
step                 int64
type                object
Amt_bin           category
dtype: object

In [22]:
df_trxn['Amt_bin'] = df_trxn.Amt_bin.astype(object)

In [23]:
# #EDA   not to be executed 

# df_credit.shape

# df = pd.merge(df_credit, df_debit, how='inner', left_on=['nameOrig'], right_on=['nameDest'] )
                                                                                    

# df.shape

# df[df.isFraud_y > 0].count() 

# df.columns

# df.dtypes

# # pd.to_datetime(df['Transaction Date'], format='%d%b%Y:%H:%M:%S.%f')

# # df['date_type_check'] = len(str(df['Transaction Date']))

# temp = df['type'].unique(); temp.shape; temp

# temp = df.groupby('nameOrig')['nameOrig'].value_counts()

# # set(df['date_type_check'])

# # pd.to_datetime(df['Transaction Date'], format='%d%b%Y:%H:%M:%S.%f')


# temp1 = pd.DataFrame(temp)

# temp1["nameOrig"].max()



# temp1.quantile([0.1,1])

# temp2 = df.groupby('nameDest')['nameDest'].value_counts()

# temp3 = pd.DataFrame(temp2)

# temp3["nameDest"].mean()

# temp3.quantile([0.1,0.8])

# df.quantile([0.1,0.8])

# df.tail(100)

In [24]:
df_trxn = df_trxn.sort_values(by = ['Orig'])

In [25]:
df_trxn["Tr_desc"] = df_trxn["C_D"].map(str) + '/' \
                     + df_trxn["type"].map(str) + '/' \
                     + df_trxn["Amt_bin"].map(str) + '/'

In [26]:
df_trxn.head()

,C_D,Dest,Orig,amount,isFlaggedFraud,isFraud,step,type,Amt_bin,Tr_desc
3196942,D,C785826240,C1000000639,244486.46,0,0,249,CASH_OUT,"(176801.919, 246611.22]","D/CASH_OUT/(176801.919, 246611.22]/"
2798983,D,M216466820,C1000001337,3170.28,0,0,217,PAYMENT,"(0.0, 4501.3]","D/PAYMENT/(0.0, 4501.3]/"
1013585,D,M1974356374,C1000001725,8424.74,0,0,46,PAYMENT,"(4501.3, 9866.158]","D/PAYMENT/(4501.3, 9866.158]/"
2980283,D,C503690069,C1000002591,261877.19,0,0,231,CASH_IN,"(246611.22, 365423.309]","D/CASH_IN/(246611.22, 365423.309]/"
1920204,D,C1840417793,C1000003372,20528.65,0,0,167,CASH_IN,"(18092.028, 36371.35]","D/CASH_IN/(18092.028, 36371.35]/"

In [27]:
df_trxn.drop(['C_D'], axis = 1, inplace = True);
df_trxn.drop(['Dest'], axis = 1, inplace = True);
df_trxn.drop(['amount'], axis = 1, inplace = True);
df_trxn.drop(['type'], axis = 1, inplace = True);
df_trxn.drop(['Amt_bin'], axis = 1, inplace = True)

In [28]:
 df_trxn[df_trxn.isFraud > 0].count()

Orig              16426
isFlaggedFraud    16426
isFraud           16426
step              16426
Tr_desc           16426
dtype: int64

In [29]:
 df_fraud_trxn = df_trxn[df_trxn.isFraud > 0]

In [30]:
df_fraud_trxn.shape; df_fraud_trxn.head(5)

,Orig,isFlaggedFraud,isFraud,step,Tr_desc
6281829,C1000036340,0,1,655,"D/TRANSFER/(246611.22, 365423.309]/"
3610987,C1000039615,0,1,270,"C/TRANSFER/(122563.784, 176801.919]/"
1048222,C1000086512,0,1,95,"D/CASH_OUT/(18092.028, 36371.35]/"
3585606,C1000331499,0,1,262,"D/TRANSFER/(365423.309, 92445516.64]/"
6201653,C1000367306,0,1,578,"C/TRANSFER/(176801.919, 246611.22]/"

In [31]:
df_trxn.shape

(12725240, 5)

In [32]:
df_trxn1 = df_trxn.groupby(['Orig'],as_index=False).agg(lambda Tr_desc : ';'.join(Tr_desc))

In [33]:
df_trxn1.shape

(9073900, 2)

In [34]:
df_trxn1.head(15)

           Orig                                            Tr_desc
0   C1000000639                D/CASH_OUT/(176801.919, 246611.22]/
1   C1000001337                           D/PAYMENT/(0.0, 4501.3]/
2   C1000001725                      D/PAYMENT/(4501.3, 9866.158]/
3   C1000002591                 D/CASH_IN/(246611.22, 365423.309]/
4   C1000003372                   D/CASH_IN/(18092.028, 36371.35]/
5   C1000003615                    D/CASH_IN/(36371.35, 74871.94]/
6   C1000004053                D/CASH_OUT/(176801.919, 246611.22]/
7   C1000004082  C/CASH_IN/(122563.784, 176801.919]/;C/TRANSFER...
8   C1000004530                 D/CASH_OUT/(74871.94, 122563.784]/
9   C1000004940  C/CASH_OUT/(36371.35, 74871.94]/;C/CASH_OUT/(1...
10  C1000005353              D/TRANSFER/(365423.309, 92445516.64]/
11  C1000005555                D/CASH_OUT/(176801.919, 246611.22]/
12  C1000005749              D/TRANSFER/(365423.309, 92445516.64]/
13  C1000005789                   D/CASH_IN/(18092.028, 36371.35]/
14  C1000006646                  D/CASH_IN/(74871.94, 122563.784]/

In [35]:
#df_trxn1[df_trxn1['C_D'].str.contains('C;D')]

In [36]:
df_trxn1['isFraud'] = 0

In [37]:
df_trxn1.head(5)

          Orig                              Tr_desc  isFraud
0  C1000000639  D/CASH_OUT/(176801.919, 246611.22]/        0
1  C1000001337             D/PAYMENT/(0.0, 4501.3]/        0
2  C1000001725        D/PAYMENT/(4501.3, 9866.158]/        0
3  C1000002591   D/CASH_IN/(246611.22, 365423.309]/        0
4  C1000003372     D/CASH_IN/(18092.028, 36371.35]/        0

In [38]:
df_fraud_trxn.dtypes

Orig              object
isFlaggedFraud     int64
isFraud            int64
step               int64
Tr_desc           object
dtype: object

In [39]:
df_trxn1.dtypes

Orig       object
Tr_desc    object
isFraud     int64
dtype: object

In [40]:
df_fraud_trxn[df_fraud_trxn.Orig == 'C1000036340']

,Orig,isFlaggedFraud,isFraud,step,Tr_desc
6281829,C1000036340,0,1,655,"D/TRANSFER/(246611.22, 365423.309]/"

In [41]:
df_trxn1[df_trxn1.Orig == 'C1000036340']

            Orig                              Tr_desc  isFraud
103  C1000036340  D/TRANSFER/(246611.22, 365423.309]/        0

In [42]:
df_trxn_summ = pd.merge(df_trxn1, df_fraud_trxn, how='left', on = 'Orig' )

In [43]:
df_trxn_summ[df_trxn_summ.Orig == 'C1000036340']

,Orig,Tr_desc_x,isFraud_x,isFlaggedFraud,isFraud_y,step,Tr_desc_y
103,C1000036340,"D/TRANSFER/(246611.22, 365423.309]/",0,0.0,1.0,655.0,"D/TRANSFER/(246611.22, 365423.309]/"

In [44]:
df_trxn_summ[df_trxn_summ.Orig == 'C1000000639']

,Orig,Tr_desc_x,isFraud_x,isFlaggedFraud,isFraud_y,step,Tr_desc_y
0,C1000000639,"D/CASH_OUT/(176801.919, 246611.22]/",0,NaN,NaN,NaN,NaN

In [45]:
df_trxn_summ['isFraud_x'] = np.where( df_trxn_summ['isFraud_y'] == 1.0 , 1, 0 )

In [46]:
df_trxn_summ[df_trxn_summ.Orig == 'C1000036340']

,Orig,Tr_desc_x,isFraud_x,isFlaggedFraud,isFraud_y,step,Tr_desc_y
103,C1000036340,"D/TRANSFER/(246611.22, 365423.309]/",1,0.0,1.0,655.0,"D/TRANSFER/(246611.22, 365423.309]/"

In [47]:
df_trxn_summ.dtypes

Orig               object
Tr_desc_x          object
isFraud_x           int32
isFlaggedFraud    float64
isFraud_y         float64
step              float64
Tr_desc_y          object
dtype: object

In [48]:
df_trxn_summ.drop(['step'], axis = 1, inplace = True);
df_trxn_summ.drop(['isFraud_y'], axis = 1, inplace = True);
df_trxn_summ.drop(['isFlaggedFraud'], axis = 1, inplace = True);
df_trxn_summ.drop(['Tr_desc_y'], axis = 1, inplace = True);

In [49]:
df_trxn_summ.shape

(9073944, 3)

In [50]:
df_trxn_summ[df_trxn_summ.isFraud_x == 1].count() / df_trxn_summ[df_trxn_summ.isFraud_x == 0].count()

Orig         0.001814
Tr_desc_x    0.001814
isFraud_x    0.001814
dtype: float64

In [51]:
df_trxn_summ['isFraud_x'].value_counts()

0    9057518
1      16426
Name: isFraud_x, dtype: int64

In [52]:
df_trxn_summ["isFraud_x"] == 1

0          False
1          False
2          False
3          False
4          False
5          False
6          False
7          False
8          False
9          False
10         False
11         False
12         False
13         False
14         False
15         False
16         False
17         False
18         False
19         False
20         False
21         False
22         False
23         False
24         False
25         False
26         False
27         False
28         False
29         False
           ...
9073914    False
9073915    False
9073916    False
9073917    False
9073918    False
9073919    False
9073920    False
9073921    False
9073922    False
9073923    False
9073924    False
9073925    False
9073926    False
9073927    False
9073928    False
9073929    False
9073930    False
9073931    False
9073932    False
9073933    False
9073934    False
9073935    False
9073936    False
9073937    False
9073938    False
9073939    False
9073940    False
9073941    False
9073942    False
9073943    False
Name: isFraud_x, Length: 9073944, dtype: bool

In [53]:
df_trxn_summ[(df_trxn_summ.Tr_desc_x.str.count('/') == 3 ) & ( df_trxn_summ["isFraud_x"] == 1 )  ].count()

Orig         10853
Tr_desc_x    10853
isFraud_x    10853
dtype: int64

In [54]:
no_frauds = len(df_trxn_summ[df_trxn_summ['isFraud_x'] == 1]); no_frauds

16426

In [55]:
no_frauds = len(df_trxn_summ[df_trxn_summ['isFraud_x'] == 1]);
fraud_indices = df_trxn_summ[df_trxn_summ.isFraud_x == 1].index
non_fraud_indices = df_trxn_summ[df_trxn_summ.isFraud_x == 0].index;
random_indices = np.random.choice(non_fraud_indices,100000, replace=False);
under_sample_indices = np.concatenate([fraud_indices,random_indices]);
under_sample = df_trxn_summ.loc[under_sample_indices]

In [56]:
type(under_sample)

pandas.core.frame.DataFrame

In [57]:
under_sample.shape

(116426, 3)

In [58]:
under_sample.head

<bound method NDFrame.head of                 Orig                                          Tr_desc_x  \
103      C1000036340                D/TRANSFER/(246611.22, 365423.309]/
119      C1000039615  C/TRANSFER/(122563.784, 176801.919]/;C/CASH_IN...
288      C1000086512                  D/CASH_OUT/(18092.028, 36371.35]/
1160     C1000331499              D/TRANSFER/(365423.309, 92445516.64]/
1294     C1000367306                C/TRANSFER/(176801.919, 246611.22]/
1428     C1000407130              C/TRANSFER/(365423.309, 92445516.64]/
1700     C1000484178              D/CASH_OUT/(365423.309, 92445516.64]/
1804     C1000513158                   D/TRANSFER/(36371.35, 74871.94]/
3024     C1000836187              C/TRANSFER/(365423.309, 92445516.64]/
3102     C1000855680  C/TRANSFER/(365423.309, 92445516.64]/;C/CASH_I...
3149     C1000868784              C/TRANSFER/(365423.309, 92445516.64]/
3396     C1000937208              D/TRANSFER/(365423.309, 92445516.64]/
4519     C1001258143  C/TRANSFER/(246611.22, 365423.309]/;C/CASH_OUT...
5393     C1001502110              D/TRANSFER/(365423.309, 92445516.64]/
5967     C1001664465                     C/TRANSFER/(4501.3, 9866.158]/
6335     C1001765380                D/CASH_OUT/(246611.22, 365423.309]/
6721     C1001875185              D/TRANSFER/(365423.309, 92445516.64]/
7272     C1002031672  C/TRANSFER/(74871.94, 122563.784]/;C/CASH_OUT/...
7739     C1002151702              C/TRANSFER/(365423.309, 92445516.64]/
7865     C1002183297  C/CASH_OUT/(176801.919, 246611.22]/;C/CASH_OUT...
8041     C1002233012                C/TRANSFER/(176801.919, 246611.22]/
8833     C1002446735              D/CASH_OUT/(365423.309, 92445516.64]/
8864     C1002454874              C/TRANSFER/(365423.309, 92445516.64]/
8918     C1002469873  C/TRANSFER/(365423.309, 92445516.64]/;C/CASH_O...
9198     C1002538556              C/TRANSFER/(365423.309, 92445516.64]/
10336    C1002859898              D/TRANSFER/(365423.309, 92445516.64]/
10459    C1002895272                          D/TRANSFER/(0.0, 4501.3]/
10598    C1002939134  C/CASH_OUT/(36371.35, 74871.94]/;C/TRANSFER/(3...
10643    C1002952732  C/CASH_OUT/(176801.919, 246611.22]/;C/CASH_OUT...
10897    C1003023037               D/CASH_OUT/(122563.784, 176801.919]/
...              ...                                                ...
7794689  M1782524155                   C/PAYMENT/(9866.158, 18092.028]/
8089165   M204750973                   C/PAYMENT/(18092.028, 36371.35]/
8157502  M2109238969                    C/PAYMENT/(36371.35, 74871.94]/
7051445  M1114725200                   C/PAYMENT/(18092.028, 36371.35]/
5839193   C697539114                D/CASH_OUT/(176801.919, 246611.22]/
5853372    C70149802                D/CASH_OUT/(176801.919, 246611.22]/
8945615   M884943837                           C/PAYMENT/(0.0, 4501.3]/
3733515  C2042476155                  D/CASH_OUT/(18092.028, 36371.35]/
1048766  C1293380174               D/CASH_OUT/(122563.784, 176801.919]/
7886465  M1865138298                    C/PAYMENT/(36371.35, 74871.94]/
4168117   C231013044                   D/PAYMENT/(18092.028, 36371.35]/
2784193  C1777786207                D/CASH_OUT/(246611.22, 365423.309]/
6639286   C920526023                D/CASH_OUT/(176801.919, 246611.22]/
129548   C1036200678              D/TRANSFER/(365423.309, 92445516.64]/
2380870  C1665202957                      D/PAYMENT/(4501.3, 9866.158]/
2607414  C1728384825                 D/CASH_OUT/(74871.94, 122563.784]/
9017085    M94907051                           C/PAYMENT/(0.0, 4501.3]/
3001395  C1838290740                          D/CASH_OUT/(0.0, 4501.3]/
5304670   C548454436  C/CASH_OUT/(122563.784, 176801.919]/;C/CASH_OU...
3869553  C2080579369                   D/CASH_OUT/(36371.35, 74871.94]/
508717   C1142440707                  D/CASH_OUT/(18092.028, 36371.35]/
2291904  C1640308378                  D/CASH_IN/(74871.94, 122563.784]/
2663425  C1744108293                  D/CASH_IN/(74871.94, 122563.784]/
6589339   C906564755                          D/CASH_OUT/(0.0, 4501.3]/
7489217  M1508253125                   C/PAYMENT/(9866.158, 18092.028]/
4077187  C2138404906                   D/PAYMENT/(9866.158, 18092.028]/
86445    C1024162752               D/CASH_IN/(365423.309, 92445516.64]/
481710   C1134833567                D/CASH_OUT/(246611.22, 365423.309]/
3987569  C2113471943                   D/CASH_OUT/(36371.35, 74871.94]/
2838097   C179281922                      D/PAYMENT/(4501.3, 9866.158]/

         isFraud_x
103              1
119              1
288              1
1160             1
1294             1
1428             1
1700             1
1804             1
3024             1
3102             1
3149             1
3396             1
4519             1
5393             1
5967             1
6335             1
6721             1
7272             1
7739             1
7865             1
8041             1
8833             1
8864             1
8918             1
9198             1
10336            1
10459            1
10598            1
10643            1
10897            1
...            ...
7794689          0
8089165          0
8157502          0
7051445          0
5839193          0
5853372          0
8945615          0
3733515          0
1048766          0
7886465          0
4168117          0
2784193          0
6639286          0
129548           0
2380870          0
2607414          0
9017085          0
3001395          0
5304670          0
3869553          0
508717           0
2291904          0
2663425          0
6589339          0
7489217          0
4077187          0
86445            0
481710           0
3987569          0
2838097          0

[116426 rows x 3 columns]>

In [59]:
under_sample=under_sample.reset_index(drop = True)

In [60]:
under_sample.head

<bound method NDFrame.head of                Orig                                          Tr_desc_x  \
0       C1000036340                D/TRANSFER/(246611.22, 365423.309]/
1       C1000039615  C/TRANSFER/(122563.784, 176801.919]/;C/CASH_IN...
2       C1000086512                  D/CASH_OUT/(18092.028, 36371.35]/
3       C1000331499              D/TRANSFER/(365423.309, 92445516.64]/
4       C1000367306                C/TRANSFER/(176801.919, 246611.22]/
5       C1000407130              C/TRANSFER/(365423.309, 92445516.64]/
6       C1000484178              D/CASH_OUT/(365423.309, 92445516.64]/
7       C1000513158                   D/TRANSFER/(36371.35, 74871.94]/
8       C1000836187              C/TRANSFER/(365423.309, 92445516.64]/
9       C1000855680  C/TRANSFER/(365423.309, 92445516.64]/;C/CASH_I...
10      C1000868784              C/TRANSFER/(365423.309, 92445516.64]/
11      C1000937208              D/TRANSFER/(365423.309, 92445516.64]/
12      C1001258143  C/TRANSFER/(246611.22, 365423.309]/;C/CASH_OUT...
13      C1001502110              D/TRANSFER/(365423.309, 92445516.64]/
14      C1001664465                     C/TRANSFER/(4501.3, 9866.158]/
15      C1001765380                D/CASH_OUT/(246611.22, 365423.309]/
16      C1001875185              D/TRANSFER/(365423.309, 92445516.64]/
17      C1002031672  C/TRANSFER/(74871.94, 122563.784]/;C/CASH_OUT/...
18      C1002151702              C/TRANSFER/(365423.309, 92445516.64]/
19      C1002183297  C/CASH_OUT/(176801.919, 246611.22]/;C/CASH_OUT...
20      C1002233012                C/TRANSFER/(176801.919, 246611.22]/
21      C1002446735              D/CASH_OUT/(365423.309, 92445516.64]/
22      C1002454874              C/TRANSFER/(365423.309, 92445516.64]/
23      C1002469873  C/TRANSFER/(365423.309, 92445516.64]/;C/CASH_O...
24      C1002538556              C/TRANSFER/(365423.309, 92445516.64]/
25      C1002859898              D/TRANSFER/(365423.309, 92445516.64]/
26      C1002895272                          D/TRANSFER/(0.0, 4501.3]/
27      C1002939134  C/CASH_OUT/(36371.35, 74871.94]/;C/TRANSFER/(3...
28      C1002952732  C/CASH_OUT/(176801.919, 246611.22]/;C/CASH_OUT...
29      C1003023037               D/CASH_OUT/(122563.784, 176801.919]/
...             ...                                                ...
116396  M1782524155                   C/PAYMENT/(9866.158, 18092.028]/
116397   M204750973                   C/PAYMENT/(18092.028, 36371.35]/
116398  M2109238969                    C/PAYMENT/(36371.35, 74871.94]/
116399  M1114725200                   C/PAYMENT/(18092.028, 36371.35]/
116400   C697539114                D/CASH_OUT/(176801.919, 246611.22]/
116401    C70149802                D/CASH_OUT/(176801.919, 246611.22]/
116402   M884943837                           C/PAYMENT/(0.0, 4501.3]/
116403  C2042476155                  D/CASH_OUT/(18092.028, 36371.35]/
116404  C1293380174               D/CASH_OUT/(122563.784, 176801.919]/
116405  M1865138298                    C/PAYMENT/(36371.35, 74871.94]/
116406   C231013044                   D/PAYMENT/(18092.028, 36371.35]/
116407  C1777786207                D/CASH_OUT/(246611.22, 365423.309]/
116408   C920526023                D/CASH_OUT/(176801.919, 246611.22]/
116409  C1036200678              D/TRANSFER/(365423.309, 92445516.64]/
116410  C1665202957                      D/PAYMENT/(4501.3, 9866.158]/
116411  C1728384825                 D/CASH_OUT/(74871.94, 122563.784]/
116412    M94907051                           C/PAYMENT/(0.0, 4501.3]/
116413  C1838290740                          D/CASH_OUT/(0.0, 4501.3]/
116414   C548454436  C/CASH_OUT/(122563.784, 176801.919]/;C/CASH_OU...
116415  C2080579369                   D/CASH_OUT/(36371.35, 74871.94]/
116416  C1142440707                  D/CASH_OUT/(18092.028, 36371.35]/
116417  C1640308378                  D/CASH_IN/(74871.94, 122563.784]/
116418  C1744108293                  D/CASH_IN/(74871.94, 122563.784]/
116419   C906564755                          D/CASH_OUT/(0.0, 4501.3]/
116420  M1508253125                   C/PAYMENT/(9866.158, 18092.028]/
116421  C2138404906                   D/PAYMENT/(9866.158, 18092.028]/
116422  C1024162752               D/CASH_IN/(365423.309, 92445516.64]/
116423  C1134833567                D/CASH_OUT/(246611.22, 365423.309]/
116424  C2113471943                   D/CASH_OUT/(36371.35, 74871.94]/
116425   C179281922                      D/PAYMENT/(4501.3, 9866.158]/

        isFraud_x
0               1
1               1
2               1
3               1
4               1
5               1
6               1
7               1
8               1
9               1
10              1
11              1
12              1
13              1
14              1
15              1
16              1
17              1
18              1
19              1
20              1
21              1
22              1
23              1
24              1
25              1
26              1
27              1
28              1
29              1
...           ...
116396          0
116397          0
116398          0
116399          0
116400          0
116401          0
116402          0
116403          0
116404          0
116405          0
116406          0
116407          0
116408          0
116409          0
116410          0
116411          0
116412          0
116413          0
116414          0
116415          0
116416          0
116417          0
116418          0
116419          0
116420          0
116421          0
116422          0
116423          0
116424          0
116425          0

[116426 rows x 3 columns]>

In [61]:
np.random.rand(len(under_sample))

array([0.04970708, 0.35081984, 0.04608218, ..., 0.96822355, 0.04442837,
       0.15297776])

In [62]:
msk = np.random.rand(len(under_sample)) < 0.8

train = under_sample[msk]

test = under_sample[~msk]

In [63]:
len(test)

23265

In [64]:
len(train)

93161

In [65]:
train=train.reset_index(drop = True)

In [66]:
test=test.reset_index(drop = True)

In [67]:
df_trxn_summ.dtypes

Orig         object
Tr_desc_x    object
isFraud_x     int32
dtype: object

In [68]:
df_trxn_summ.shape

(9073944, 3)

In [69]:
# Keras
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers import Dense, Flatten, LSTM, Conv1D, MaxPooling1D, Dropout, Activation
from keras.layers.embeddings import Embedding
from keras.layers.normalization import BatchNormalization

Using TensorFlow backend.

In [70]:
# Others
import nltk
import string
import numpy as np
import pandas as pd
from nltk.corpus import stopwords

from sklearn.manifold import TSNE

In [71]:
### Create sequence
vocabulary_size = 20000
tokenizer = Tokenizer(num_words= vocabulary_size, split=';')
tokenizer.fit_on_texts(train['Tr_desc_x'])

sequences = tokenizer.texts_to_sequences(train['Tr_desc_x'])
data = pad_sequences(sequences, maxlen=60)

In [72]:
type(data)

numpy.ndarray

In [73]:
data

array([[ 0,  0,  0, ...,  7, 22,  5],
       [ 0,  0,  0, ..., 10, 24,  9],
       [ 0,  0,  0, ..., 13, 32, 12],
       ...,
       [ 0,  0,  0, ..., 18, 34, 13],
       [ 0,  0,  0, ...,  7, 22,  5],
       [ 0,  0,  0, ..., 12, 30, 11]])

In [74]:
train.shape

(93161, 3)

In [75]:
labels = train['isFraud_x']

In [76]:
type(labels); labels.shape

(93161,)

In [77]:
import tensorflow as tf
from keras import backend as K

def auc(y_true, y_pred):
    auc = tf.metrics.auc(y_true, y_pred)[1]
    K.get_session().run(tf.local_variables_initializer())
    return auc

In [80]:
## Network architecture

model = Sequential()
model.add(Embedding(20000, 100, input_length=60))
model.add(LSTM(100, dropout=0.2, recurrent_dropout=0.2))
model.add(Dense(1, activation='sigmoid'))
#model.add(BatchNormalization())

model.compile(loss='binary_crossentropy', optimizer='adam', metrics=[auc])

In [81]:
model.fit(data, np.array(labels), validation_split=0.4, epochs=50)

Train on 55896 samples, validate on 37265 samples
Epoch 1/50
55896/55896 [==============================] - 486s 9ms/step - loss: 0.2859 - auc: 0.8936 - val_loss: 0.1796 - val_auc: 0.9216
Epoch 2/50
55896/55896 [==============================] - 492s 9ms/step - loss: 0.2593 - auc: 0.9248 - val_loss: 0.1927 - val_auc: 0.9262
Epoch 3/50
55896/55896 [==============================] - 551s 10ms/step - loss: 0.2555 - auc: 0.9269 - val_loss: 0.1603 - val_auc: 0.9294
Epoch 4/50
55896/55896 [==============================] - 241s 4ms/step - loss: 0.2547 - auc: 0.9310 - val_loss: 0.1581 - val_auc: 0.9323
Epoch 5/50
55896/55896 [==============================] - 240s 4ms/step - loss: 0.2539 - auc: 0.9332 - val_loss: 0.1952 - val_auc: 0.9329
Epoch 6/50
55896/55896 [==============================] - 241s 4ms/step - loss: 0.2535 - auc: 0.9325 - val_loss: 0.1704 - val_auc: 0.9330
Epoch 7/50
55896/55896 [==============================] - 241s 4ms/step - loss: 0.2524 - auc: 0.9333 - val_loss: 0.1668 - val_auc: 0.9337
Epoch 8/50
55896/55896 [==============================] - 241s 4ms/step - loss: 0.2523 - auc: 0.9340 - val_loss: 0.1700 - val_auc: 0.9343
Epoch 9/50
55896/55896 [==============================] - 239s 4ms/step - loss: 0.2517 - auc: 0.9345 - val_loss: 0.1594 - val_auc: 0.9349
Epoch 10/50
55896/55896 [==============================] - 238s 4ms/step - loss: 0.2512 - auc: 0.9351 - val_loss: 0.1709 - val_auc: 0.9353
Epoch 11/50
55896/55896 [==============================] - 238s 4ms/step - loss: 0.2514 - auc: 0.9353 - val_loss: 0.1705 - val_auc: 0.9355
Epoch 12/50
55896/55896 [==============================] - 238s 4ms/step - loss: 0.2512 - auc: 0.9356 - val_loss: 0.1693 - val_auc: 0.9357
Epoch 13/50
55896/55896 [==============================] - 238s 4ms/step - loss: 0.2507 - auc: 0.9358 - val_loss: 0.1688 - val_auc: 0.9359
Epoch 14/50
55896/55896 [==============================] - 238s 4ms/step - loss: 0.2504 - auc: 0.9360 - val_loss: 0.1589 - val_auc: 0.9362
Epoch 15/50
55896/55896 [==============================] - 238s 4ms/step - loss: 0.2505 - auc: 0.9364 - val_loss: 0.1655 - val_auc: 0.9365
Epoch 16/50
55896/55896 [==============================] - 240s 4ms/step - loss: 0.2499 - auc: 0.9366 - val_loss: 0.1687 - val_auc: 0.9367
Epoch 17/50
55896/55896 [==============================] - 238s 4ms/step - loss: 0.2499 - auc: 0.9367 - val_loss: 0.1777 - val_auc: 0.9366
Epoch 18/50
55896/55896 [==============================] - 241s 4ms/step - loss: 0.2498 - auc: 0.9366 - val_loss: 0.1768 - val_auc: 0.9366
Epoch 19/50
55896/55896 [==============================] - 241s 4ms/step - loss: 0.2498 - auc: 0.9365 - val_loss: 0.1709 - val_auc: 0.9366
Epoch 20/50
55896/55896 [==============================] - 241s 4ms/step - loss: 0.2489 - auc: 0.9366 - val_loss: 0.1926 - val_auc: 0.9365
Epoch 21/50
55896/55896 [==============================] - 239s 4ms/step - loss: 0.2493 - auc: 0.9364 - val_loss: 0.1683 - val_auc: 0.9365
Epoch 22/50
55896/55896 [==============================] - 242s 4ms/step - loss: 0.2492 - auc: 0.9366 - val_loss: 0.1681 - val_auc: 0.9366
Epoch 23/50
55896/55896 [==============================] - 242s 4ms/step - loss: 0.2489 - auc: 0.9366 - val_loss: 0.1830 - val_auc: 0.9366
Epoch 24/50
55896/55896 [==============================] - 241s 4ms/step - loss: 0.2489 - auc: 0.9365 - val_loss: 0.1686 - val_auc: 0.9366
Epoch 25/50
55896/55896 [==============================] - 238s 4ms/step - loss: 0.2484 - auc: 0.9366 - val_loss: 0.1677 - val_auc: 0.9367
Epoch 26/50
55896/55896 [==============================] - 239s 4ms/step - loss: 0.2481 - auc: 0.9367 - val_loss: 0.1703 - val_auc: 0.9368
Epoch 27/50
55896/55896 [==============================] - 238s 4ms/step - loss: 0.2482 - auc: 0.9368 - val_loss: 0.1660 - val_auc: 0.9369
Epoch 28/50
55896/55896 [==============================] - 241s 4ms/step - loss: 0.2480 - auc: 0.9369 - val_loss: 0.1665 - val_auc: 0.9370
Epoch 29/50
55896/55896 [==============================] - 240s 4ms/step - loss: 0.2477 - auc: 0.9371 - val_loss: 0.1739 - val_auc: 0.9371
Epoch 30/50
55896/55896 [==============================] - 238s 4ms/step - loss: 0.2474 - auc: 0.9371 - val_loss: 0.1710 - val_auc: 0.9371
Epoch 31/50
55896/55896 [==============================] - 241s 4ms/step - loss: 0.2473 - auc: 0.9372 - val_loss: 0.1712 - val_auc: 0.9372
Epoch 32/50
55896/55896 [==============================] - 241s 4ms/step - loss: 0.2470 - auc: 0.9372 - val_loss: 0.1718 - val_auc: 0.9373
Epoch 33/50
55896/55896 [==============================] - 241s 4ms/step - loss: 0.2468 - auc: 0.9373 - val_loss: 0.1710 - val_auc: 0.9373
Epoch 34/50
55896/55896 [==============================] - 238s 4ms/step - loss: 0.2467 - auc: 0.9374 - val_loss: 0.1647 - val_auc: 0.9374
Epoch 35/50
55896/55896 [==============================] - 238s 4ms/step - loss: 0.2462 - auc: 0.9374 - val_loss: 0.1724 - val_auc: 0.9375
Epoch 36/50
55896/55896 [==============================] - 241s 4ms/step - loss: 0.2455 - auc: 0.9375 - val_loss: 0.1779 - val_auc: 0.9375
Epoch 37/50
55896/55896 [==============================] - 238s 4ms/step - loss: 0.2454 - auc: 0.9375 - val_loss: 0.1674 - val_auc: 0.9375
Epoch 38/50
55896/55896 [==============================] - 239s 4ms/step - loss: 0.2458 - auc: 0.9376 - val_loss: 0.1713 - val_auc: 0.9376
Epoch 39/50
55896/55896 [==============================] - 238s 4ms/step - loss: 0.2452 - auc: 0.9377 - val_loss: 0.1772 - val_auc: 0.9377
Epoch 40/50
55896/55896 [==============================] - 238s 4ms/step - loss: 0.2451 - auc: 0.9377 - val_loss: 0.1695 - val_auc: 0.9377
Epoch 41/50
55896/55896 [==============================] - 238s 4ms/step - loss: 0.2445 - auc: 0.9378 - val_loss: 0.1784 - val_auc: 0.9378
Epoch 42/50
55896/55896 [==============================] - 242s 4ms/step - loss: 0.2444 - auc: 0.9378 - val_loss: 0.1769 - val_auc: 0.9378
Epoch 43/50
55896/55896 [==============================] - 240s 4ms/step - loss: 0.2442 - auc: 0.9378 - val_loss: 0.1673 - val_auc: 0.9379
Epoch 44/50
55896/55896 [==============================] - 239s 4ms/step - loss: 0.2439 - auc: 0.9379 - val_loss: 0.1749 - val_auc: 0.9379
Epoch 45/50
55896/55896 [==============================] - 240s 4ms/step - loss: 0.2434 - auc: 0.9379 - val_loss: 0.1696 - val_auc: 0.9380
Epoch 46/50
55896/55896 [==============================] - 241s 4ms/step - loss: 0.2433 - auc: 0.9380 - val_loss: 0.1794 - val_auc: 0.9380
Epoch 47/50
55896/55896 [==============================] - 244s 4ms/step - loss: 0.2433 - auc: 0.9380 - val_loss: 0.1746 - val_auc: 0.9380
Epoch 48/50
55896/55896 [==============================] - 242s 4ms/step - loss: 0.2422 - auc: 0.9381 - val_loss: 0.1705 - val_auc: 0.9381
Epoch 49/50
55896/55896 [==============================] - 243s 4ms/step - loss: 0.2426 - auc: 0.9381 - val_loss: 0.1764 - val_auc: 0.9382
Epoch 50/50
55896/55896 [==============================] - 240s 4ms/step - loss: 0.2426 - auc: 0.9382 - val_loss: 0.1746 - val_auc: 0.9382

In [83]:
### Create sequence for OOT
vocabulary_size = 20000
tokenizer = Tokenizer(num_words= vocabulary_size, split=';')
tokenizer.fit_on_texts(test['Tr_desc_x'])

sequences = tokenizer.texts_to_sequences(test['Tr_desc_x'])
data = pad_sequences(sequences, maxlen=60)

In [84]:
predictions = model.predict(data)

In [85]:
labels_test = test['isFraud_x']

In [86]:
type(predictions)

numpy.ndarray

In [87]:
type(labels_test)

pandas.core.series.Series

In [88]:
np.array(labels_test)

array([1, 1, 1, ..., 0, 0, 0])

In [89]:
predictions.shape

(23265, 1)

In [90]:
predictions

array([[9.6703255e-01],
       [9.8851460e-01],
       [7.0575559e-01],
       ...,
       [4.7534110e-07],
       [2.2737784e-06],
       [2.2225510e-07]], dtype=float32)

In [91]:
labels_test.shape

(23265,)

In [92]:
from sklearn.metrics import roc_auc_score
#y_true = np.array([0, 0, 1, 1])
#y_scores = np.array([0.1, 0.4, 0.35, 0.8])
roc_auc_score(np.array(labels_test), predictions)

0.9340636900675731